html,
body,
header,
.view {
    height: 100%;
    padding: auto;
}

body{
	background: #fffafa;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}


.card{
  border-radius: 4px;
  background: white;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  display: flex;
}

img{
  background: green;
  box-shadow: 0 30px 30px rgba(0,0,0,.08), 0 0 30px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h5{
  font-weight: 600;

}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
   background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
}

.card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
   background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 

h1{
	font-style: italic;
	font-size: 50px;
}
.carousel-item {
  height: 50vh;
  min-height: 50px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;3

}

.footer{
	text-align:center;
	padding:3px;
	background-image: url('https://image.freepik.com/free-photo/blue-concrete-wall-textures-background_74190-7757.jpg');
	color:black;
}

nav{
  background-image: url('https://image.freepik.com/free-photo/blue-concrete-wall-textures-background_74190-7757.jpg');
  color:black;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

